.badges-group {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 50px;
  padding: 5px 8px;
  margin-bottom: 10px;

  .badge {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 50px;
    border: 2px dashed var(--primary);
    border-style: double;
    color: #ffffff;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
    &:hover {
      background-color: var(--primary);
      color: white;
    }
  }
}
