.lazy-load {
  position: relative;
  border: none;
  outline: none;
  backdrop-filter: var(--blur);
  background-color: var(--muted);
}

.lazy-load::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--light);
  border-top: 2px solid red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.lazy-load.fade-in {
  opacity: 1;
}
