.boxed {
  --box-width: 90%;
  width: var(--box-width);
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 10;
  @media (min-width: screen-size(sm)) {
    --box-width: 97%;
  }
  @media (min-width: screen-size(md)) {
    --box-width: 95%;
  }
  @media (min-width: screen-size(lg)) {
    --box-width: 90%;
  }
  @media (min-width: screen-size(xl)) {
    --box-width: 90%;
  }
  @media (min-width: screen-size(xxl)) {
    --box-width: 70%;
  }
}
