.feedbacks-multiple {
  padding-top: 60px;
  padding-bottom: 60px;
  .center {
    margin-bottom: 80px;
  }
}
.feedbacks {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  .bxs-quote-right,
  .bxs-quote-left {
    position: absolute;
    z-index: 99;
    font-size: 80px;
    color: var(--primary);
  }
  .bxs-quote-right {
    right: 0;
    bottom: 0;
  }
  .bxs-quote-left {
    left: 0;
  }
}
