.footer {
  .footer-top {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: var(--muted);

    .logo {
      position: relative;
      margin-bottom: 15px;
      display: inline-block;
      left: -8px;
      .logo-square {
        left: 15px;
        bottom: 22px;
        width: 40px;
        height: 40px;
        position: absolute;
        transform: rotate(45deg);
        box-shadow: rgba(255, 30, 0, 0.24) 0px 8px 24px,
          rgba(255, 38, 0, 0.158) 0px 16px 56px,
          rgba(235, 6, 25, 0.233) 0px 24px 80px;
      }
    }

    .heading {
      color: var(--text);
      font-weight: bold;
      font-size: var(--footer-heading);
      margin-bottom: 1rem;
    }

    .description {
      color: var(--muted);
      margin-bottom: 1rem;
      line-height: 1.5rem;
    }

    .footer-list {
      padding: 0;
      margin: 0;
      .list-item {
        width: 50%;
        display: block;
        float: right;
        margin-bottom: 5px;
        .list-link {
          display: inherit;
          color: var(--muted);
          text-decoration: none;
          &:hover {
            color: var(--primary);
          }
        }
      }
    }

    .subscribe-form {
      border-radius: 50px;
      box-shadow: var(--shadow);
      padding: 5px 0;

      .btn-send {
        background-color: var(--primary);
        cursor: pointer;
        color: var(--text);
        &:hover {
          background-color: var(--primary-hover);
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid var(--border);
    color: var(--muted);
    padding-top: 20px;
    padding-bottom: 20px;
    .boxed {
      display: flex;
      justify-content: space-between;
      .copyright {
        font-size: 1rem;
      }
      .inline-list {
      }
    }
  }
}
