{% extends "base.html"%} 

{% block content%}
    <!-- CONTENT -->
    <main class="bg-three">
        <section class="boxed">
            <article class="card card-error">
                <h1 class="card-title">403</h1>
                <h2 class="card-subtitle">Access Denied</h2>
                <p class="card-desc">
                    Uh-oh! It seems you've reached a restricted area. Access to
                    this page is forbidden, and we're afraid you don't have the
                    key to enter.
                </p>
                <button class="btn-outline" onclick="window.history.back()">
                    Go back
                </button>
            </article>
        </section>
    </main>
    <!-- CONTENT -->
    <!-- CTA -->
    <section class="boxed card card-cta bg-one">
        <div class="card-body">
            <h3 class="card-title">Lets get started!</h3>
            <p class="card-desc">
                Interested in working with us? Have any questions?
            </p>
            <a href="contact-us.html" class="btn-contact">Contact us</a>
        </div>
    </section>
    <!-- CTA -->
  {% endblock %}
