{% extends "base.html"%} 

{% block content%}
    <!-- CONTENT -->
    <main class="bg-three">
        <section class="boxed">
            <article class="card card-error">
                <h1 class="card-title">500</h1>
                <h2 class="card-subtitle">Internal server error</h2>
                <p class="card-desc">
                    Whoops! Our server seems to be having a moment of confusion.
                    It's not you; it's us. Our team of tech wizards has been
                    notified and is working to fix the issue. Please check back
                    later or contact our support team for assistance. Thank you
                    for your understanding.
                </p>
                <button class="btn-outline" onclick="window.history.back()">
                    Go back
                </button>
            </article>
        </section>
    </main>
    <!-- CONTENT -->
    <!-- CTA -->
    <section class="boxed card card-cta bg-one">
        <div class="card-body">
            <h3 class="card-title">Lets get started!</h3>
            <p class="card-desc">
                Interested in working with us? Have any questions?
            </p>
            <a href="contact-us.html" class="btn-contact">Contact us</a>
        </div>
    </section>
    <!-- CTA -->
     {% endblock %}
