{% extends "base.html"%} 


{% block content%}
    <!-- HEADER -->
    <section class="page-head">
        <div class="boxed">
            <span class="page-badge">About</span>
            <h1 class="page-title">Cookies Policy</h1>
            <p class="page-desc">
                - Thank you for visiting NexTash ("we," "us," or "our") website.
                This Cookies Policy explains how we use cookies and similar
                tracking technologies on our website. By continuing to browse and
                use our website, you consent to the use of cookies as described in
                this policy.
            </p>
        </div>
    </section>
    <!-- HEADER -->
    <!-- CONTENT -->
    <main class="boxed content">
        <h2 class="heading dotted-square">What are cookies?</h2>
        <p class="description">
            Cookies are small text files that are stored on your device when you
            visit a website. They contain information that helps improve your
            browsing experience and allows us to remember your preferences,
            settings, and actions when you return to our website.
        </p>
        <h2 class="heading dotted-square">How we use cookies</h2>
        <p class="description">
            We use cookies and similar technologies for various purposes,
            including:
        </p>
        <ul class="list">
            <li>
                <b>Essential cookies:</b> These are necessary for the proper
                functioning of our website. They enable you to navigate the
                website and use its features, such as accessing secure areas.
            </li>
            <li>
                <b>Analytical cookies:</b> We use these cookies to gather
                information about how visitors use our website. This data helps us
                understand website traffic, improve our website's performance, and
                enhance the user experience.
            </li>
            <li>
                <b>Functional cookies:</b> These cookies allow our website to
                remember choices you make (such as language preferences or region)
                and provide enhanced, personalized features.
            </li>
            <li>
                <b>Advertising and marketing cookies:</b> We may use these cookies
                to deliver relevant advertisements to you, both on our website and
                other websites you visit. These cookies help us measure the
                effectiveness of our marketing campaigns.
            </li>
        </ul>
        <h2 class="heading dotted-square">Third-party cookies</h2>
        <p class="description">
            We may also allow third-party service providers, such as analytics
            and advertising partners, to place cookies on your device. These
            cookies may collect information about your online activities across
            different websites and over time. We do not have control over these
            cookies or the data collected by them. Please refer to the
            respective third-party privacy policies for more information about
            their practices.
        </p>
        <h2 class="heading dotted-square">
            Cookie consent and management
        </h2>
        <p class="description">
            When you first visit our website, we will display a cookie banner
            seeking your consent to use non-essential cookies. By clicking
            "Accept" or continuing to use our website, you consent to the use of
            cookies as described in this policy. You can change your cookie
            preferences at any time by adjusting your browser settings or using
            the "Cookie Settings" link on our website.
        </p>
        <h2 class="heading dotted-square">Cookie retention</h2>
        <p class="description">
            Like any other website, NexTash uses 'cookies'. These cookies are
            used to store information including visitors' preferences, and the
            pages on the website that the visitor accessed or visited. The
            information is used to optimize the users' experience by customizing
            our web page content based on visitors' browser type and/or other
            information.
        </p>
        <h2 class="heading dotted-square">Cookie retention</h2>
        <p class="description">
            Cookies are typically stored on your device for varying periods.
            Some cookies are session-based and expire when you close your
            browser, while others may persist for an extended period. We strive
            to retain cookies only for as long as necessary to fulfill their
            respective purposes.
        </p>
        <h2 class="heading dotted-square">
            Our Advertising Partners
        </h2>
        <p class="description">
            Some of advertisers on our site may use cookies and web beacons. Our
            advertising partners are list font-18"ed below. Each of our
            advertising partners has their own Cookies Policy for their policies
            on user data. For easier access, we hyperlinked to their Cookies
            Policies below.
        </p>
        <h2 class="heading dotted-square">
            Third Party Cookies Policies
        </h2>
        <p class="description">
            NexTash's Cookies Policy does not apply to other advertisers or
            websites. Thus, we are advising you to consult the respective
            Cookies Policies of these third-party ad servers for more detailed
            information. It may include their practices and instructions about
            how to opt-out of certain options.
        </p>
        <p class="description">
            You can choose to disable cookies through your individual browser
            options. To know more detailed information about cookie management
            with specific web browsers, it can be found at the browsers'
            respective websites.
        </p>
        <p class="description">
            CCPA Cookies Rights (Do Not Sell My Personal Information)
        </p>
        <p class="description">
            Under the CCPA, among other rights, California consumers have the
            right to:
        </p>
        <h2 class="heading dotted-square">Your choices</h2>
        <p class="description">
            You can choose to disable cookies or withdraw your consent to the
            use of cookies at any time. However, please note that disabling
            essential cookies may impact the functionality of our website and
            restrict access to certain features.
        </p>
        <h2 class="heading dotted-square">
            Changes to this Cookies Policy
        </h2>
        <p class="description">
            We may update this Cookies Policy from time to time to reflect
            changes in our practices or for other operational, legal, or
            regulatory reasons. The revised version will be effective
            immediately upon posting on this page.
        </p>
        <h2 class="heading dotted-square">Contact Us</h2>
        <p class="description">
            If you have any questions or concerns about this Cookies Policy or
            our use of cookies, please contact us at
            <a href="" class="link">nextash@info.com</a>.
        </p>
        <p class="description">
            By continuing to use our website, you agree to the terms of this
            Cookies Policy. Please read our
            <a href="terms-and-conditions.html" class="link">Privacy Policy</a>
            to understand how we collect, use, and protect your personal
            information.
        </p>
    </main>
    <!-- CONTENT -->
    <!-- CTA -->
    <section class="boxed card card-cta bg-one">
        <div class="card-body">
            <h3 class="card-title">Lets get started!</h3>
            <p class="card-desc">
                Interested in working with us? Have any questions?
            </p>
            <a href="contact-us.html" class="btn-contact">Contact us</a>
        </div>
    </section>
    <!-- CTA -->
 {% endblock %}
