{% extends "base.html"%} 


{% block content%}
    <!-- HEADER -->
    <section class="page-head">
        <div class="boxed">
            <span class="page-badge">About</span>
            <h1 class="page-title">Credits</h1>
            <p class="page-desc">
                - Thank you for visiting NexTash, where innovation meets style. We would like to express our
                gratitude to the talented individuals and resources that have contributed to the creation and
                success of this website. Your dedication and expertise have played a crucial role in making
                NexTash a unique and engaging online experience.
            </p>
        </div>
    </section>
    <!-- HEADER -->
    <!-- CONTENT -->
    <main class="boxed content">
        <h2 class="heading dotted-square">Development Team</h2>
        <ul class="list">
            <li>Lead Developer: [Full Name]</li>
            <li>Frontend Developer: [Full Name]</li>
            <li>Backend Developer: [Full Name]</li>
            <li>UX/UI Designer: [Full Name]</li>
            <li>Graphic Designer: [Full Name]</li>
        </ul>
        <h2 class="heading dotted-square">Content Creation</h2>
        <ul class="list">
            <li>Content Writers: [Full Name], [Full Name]</li>
            <li>Photographers: [Full Name], [Full Name]</li>
        </ul>
        <h2 class="heading dotted-square">Special Thanks:</h2>
        <p class="description">
            We extend our sincere appreciation to those who provided invaluable support, guidance, and
            inspiration throughout the development process:
        </p>
        <ul class="list">
            <li>
                [Name/Organization]
            </li>
            <li>
                [Name/Organization]
            </li>
        </ul>
        <h2 class="heading dotted-square">Open Source Contributions</h2>
        <p class="description">
            NexTash is built upon the foundation of various open-source technologies and frameworks. We would
            like to acknowledge the following projects and their contributors:
        </p>
        <ul class="list">
            <li>
                [Project Name] - [Link to Project]
            </li>
            <li>
                [Project Name] - [Link to Project]
            </li>
        </ul>
        <h2 class="heading dotted-square">
            Media and Resources:
        </h2>
        <p class="description">
            A big thank you to the following for providing media and resources that have enhanced the visual
            appeal of NexTash:
        </p>
        <ul class="list">
            <li>
                [Resource/Provider Name] - [Link to Resource]
            </li>
            <li>
                [Resource/Provider Name] - [Link to Resource]
            </li>
        </ul>
        <h2 class="heading dotted-square">Feedback and Testing</h2>
        <p class="description">
            We are grateful to everyone who provided feedback and participated in testing to ensure the quality
            and functionality of NexTash:
        </p>
        <ul class="list">
            <li>
                [Tester Name]
            </li>
            <li>
                [Tester Name]
            </li>
        </ul>
        <h2 class="heading dotted-square">Community Support</h2>
        <p class="description">
            Our sincere thanks to the NexTash community for their enthusiasm, feedback, and contributions. Your
            involvement has been crucial in shaping NexTash into a vibrant and dynamic platform.
        </p>
        <p class="description">
            Thank you once again to everyone who has been a part of the NexTash journey. Your commitment has
            been instrumental in making this website a reality.
        </p>
        <p class="description">
            <i>NexTash - Redefining Style, Redefining Innovation.</i>
        </p>
    </main>
    <!-- CONTENT -->
    <!-- CTA -->
    <section class="boxed card card-cta bg-one">
        <div class="card-body">
            <h3 class="card-title">Lets get started!</h3>
            <p class="card-desc">
                Interested in working with us? Have any questions?
            </p>
            <a href="contact-us.html" class="btn-contact">Contact us</a>
        </div>
    </section>
    <!-- CTA -->
{% endblock%}