{% extends "base.html"%} 


{% block content%}
  <!-- HEADER -->
  <section class="page-head">
    <div class="boxed">
      <span class="page-badge">FAQS</span>
      <h1 class="page-title">Frequently Asked Questions</h1>
      <p class="page-desc">
        - We’re a diverse team that works as fancies attention to details,
        enjoys beers on Friday nights and aspires to design the dent in
        the universe.
      </p>
    </div>
  </section>
  <!-- HEADER -->
  <!-- CONTENT -->
  <main class="faqs-layout">
    <div class="boxed">
      <section class="col-left" data-aos-duration="1000" data-aos="fade-right" data-aos-once="true"
        data-aos-easing="ease-in-out">
        <div class="accordion" id="faqs">
          <div class="item">
            <h2 class="head">
              What services does NexTash offer?
            </h2>
            <div class="body">
              NexTash specializes in a wide range of services including digitalization, branding, ERP development, web
              development, mobile app development, graphics designing, and digital marketing. We provide comprehensive
              solutions to help businesses thrive in the digital age.
            </div>
          </div>
          <div class="item">
            <h2 class="head">
              How can I contact NexTash for inquiries or support?
            </h2>
            <div class="body">
              You can reach out to NexTash by filling out the contact form on our website or by sending an email to
              system@nextash.com. Our team will be happy to assist you with any inquiries or support needs.
            </div>
          </div>
          <div class="item">
            <h2 class="head">
              What industries does NexTash serve?
            </h2>
            <div class="body">
              NexTash serves businesses across various industries including but not limited to retail, healthcare,
              finance, manufacturing, and technology. Our customizable solutions cater to the unique needs of each
              industry.
            </div>
          </div>
          <div class="item">
            <h2 class="head">
              How does NexTash ensure the security of client data and information?
            </h2>
            <div class="body">
              At NexTash, we take the security and confidentiality of client data very seriously. We employ
              industry-standard security measures and protocols to safeguard client information and ensure compliance
              with data protection regulations.
            </div>
          </div>
          <div class="item">
            <h2 class="head">
              What is NexTash's approach to project management?
            </h2>
            <div class="body">
              NexTash follows a collaborative and transparent approach to project management, ensuring clear
              communication, timely updates, and alignment with client goals and objectives. Our experienced project
              managers oversee every project from inception to completion, ensuring successful outcomes.
            </div>
          </div>
          <div class="item">
            <h2 class="head">
              Does NexTash offer ongoing support and maintenance services?
            </h2>
            <div class="body">
              Yes, NexTash provides ongoing support and maintenance services to ensure the continued success and
              performance of our solutions. We offer various support packages tailored to the specific needs of each
              client.
            </div>
          </div>
          <div class="item">
            <h2 class="head">
              Can NexTash help with digital transformation initiatives?
            </h2>
            <div class="body">
              Absolutely! NexTash specializes in digital transformation initiatives, helping businesses leverage the
              latest technologies to streamline operations, enhance efficiency, and drive growth. Our experienced team
              can guide you through every step of the digital transformation journey.
            </div>
          </div>
          <div class="item">
            <h2 class="head">
              Does NexTash provide training for users of its software solutions?
            </h2>
            <div class="body">
              Yes, NexTash offers comprehensive training programs for users of our software solutions. Our training
              sessions are designed to empower users with the knowledge and skills they need to maximize the value of
              our products and services.
            </div>
          </div>
          <div class="item">
            <h2 class="head">
              Is NexTash open to collaboration with other businesses or partners?
            </h2>
            <div class="body">
              Yes, NexTash values collaboration and partnership opportunities with other businesses and organizations.
              If you're interested in exploring collaboration opportunities, please reach out to us, and we'd be happy
              to discuss further.
            </div>
          </div>
          <div class="item">
            <h2 class="head">
              What sets NexTash apart from other IT solutions providers?
            </h2>
            <div class="body">
              NexTash stands out for its commitment to innovation, excellence, and customer satisfaction. Our holistic
              approach, customized solutions, and dedication to client success make us a trusted partner for businesses
              seeking to thrive in today's digital landscape.
            </div>
          </div>
          <div class="item">
            <h2 class="head">
              Join Our Journey Towards Excellence!
            </h2>
            <div class="body">
              We're passionate about driving innovation and empowering businesses to thrive in the digital age. We
              believe in fostering a collaborative and inclusive work environment where every team member has the
              opportunity to make a difference and grow both personally and professionally. If you're looking to be part
              of a dynamic team that's shaping the future of technology, we'd love to hear from you!
            </div>
          </div>
          <div class="item">
            <h2 class="head">
              Why Work With Us?
            </h2>
            <div class="body">
              <ul class="list-simple">
                <li>Innovative Projects: Join us in working on cutting-edge projects that challenge the status quo and
                  drive industry innovation.</li>
                <li>Collaborative Culture: Be part of a supportive and collaborative team where your ideas are valued,
                  and your contributions make a real impact.</li>
                <li>Continuous Learning: We're committed to your professional growth and development. Take advantage of
                  learning opportunities, training programs, and mentorship to advance your skills and career.</li>
                <li>Work-Life Balance: We understand the importance of work-life balance. Enjoy flexible work hours and
                  remote work options that allow you to maintain a healthy balance between your personal and
                  professional life.</li>
                <b>Current Openings</b>
                <li>Software Engineer: Join our engineering team in developing cutting-edge software solutions for our
                  clients.</li>
                <li>Digital Marketing Specialist: Help us drive our digital marketing efforts and reach new audiences.
                </li>
                <li>UX/UI Designer: Use your creativity and design skills to create intuitive and visually stunning user
                  experiences.</li>
                <li>Sales Representative: Join our sales team in identifying new business opportunities and building
                  relationships with clients.</li>
              </ul>
            </div>
          </div>
          <div class="item">
            <h2 class="head">
              How to Apply
            </h2>
            <div class="body">
              We specialize in custom software development tailored to the
              unique needs of our clients. While we can leverage pre-built
              frameworks and components to expedite development, our focus is
              always on creating customized solutions that
            </div>
          </div>
        </div>
      </section>
      <section class="col-right " data-aos-duration="1000" data-aos="fade-left" data-aos-once="true"
        data-aos-easing="ease-in-out">
        <form class="card card-hoverable card-form" id="form" autocomplete="on">
          <div class="card-head">
            <h2 class="card-title">Ask your question</h2>
            <p class="card-desc">
              If you have any query please fill out the form below. We do our best to respond within 1 business day.
            </p>
          </div>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="field" id="fullname" placeholder="Full name..." />
            </div>
            <div class="input-group">
              <input type="email" class="field" id="email" placeholder="Email address..." />
            </div>
            <div class="input-group">
              <input type="text" class="field" id="subject" placeholder="Subject..." />
            </div>
            <div class="input-group">
              <textarea class="field" id="message" rows="3" placeholder="Message..."></textarea>
            </div>
          </div>
          <div class="card-foot center">
            <button type="submit" class="btn-outline" id="btn">
              Send message
            </button>
          </div>
        </form>
      </section>
    </div>
  </main>
  <!-- CONTENT -->
  <!-- CTA -->
  <section class="boxed card card-cta bg-one">
    <div class="card-body">
      <h3 class="card-title">Lets get started!</h3>
      <p class="card-desc">
        Interested in working with us? Have any questions?
      </p>
      <a href="contact-us.html" class="btn-contact">Contact us</a>
    </div>
  </section>
  <!-- CTA -->
{% endblock %}