  <!-- FOOTER -->
    <footer class="footer">
        <section class="footer-top">
            <div class="boxed">
                <div class="row-footer">
                    <div class="col">
                        <a href="index.html" class="logo" role="img" aria-label="NexTash">
                            <div class="logo-square"></div>
                            <img src="/static/images/logos/logo.png" width="70" height="70" class="image"
                                alt="NexTash" />
                        </a>
                        <p class="description">
                            Empower your business for the digital era with our tailored strategies.Uncover a world where
                            ideas meet technology, curated with passion and precision.
                        </p>
                        <h3 class="heading">Follow us</h3>
                        <div class="social-links">
                            <a href="https://www.facebook.com/nextash" target="_blank"
                                class="bx bxl-facebook-square social-icon"></a>
                            <a href="https://www.pinterest.com/nextashinc" target="_blank"
                                class="bx bxl-pinterest social-icon"></a>
                            <a href="https://medium.com/@nextash" target="_blank" class="bx bxl-medium social-icon"></a>
                            <a href="https://www.linkedin.com/company/nextash/" target="_blank"
                                class="bx bxl-linkedin social-icon"></a>
                            <a href="https://www.instagram.com/nextashinc/" target="_blank"
                                class="bx bxl-instagram social-icon"></a>
                            <a href="https://stackoverflow.com/users/19127111/nextash" target="_blank"
                                class="bx bxl-stack-overflow social-icon"></a>
                        </div>
                    </div>
                    <div class="col">
                        <h3 class="heading" role="heading" aria-level="3">Information</h3>
                        <ul type="none" class="footer-list">
                            <li class="list-item">
                                <a href="/about-us" class="list-link">About us</a>
                            </li>
                            <li class="list-item">
                                <a href="/contact-us" class="list-link">Contact us</a>
                            </li>
                            <li class="list-item">
                                <a href="/services" class="list-link">Services</a>
                            </li>
                            <li class="list-item">
                                <a href="/team" class="list-link">Team</a>
                            </li>
                            <li class="list-item">
                                <a href="/blogs" class="list-link">Blogs</a>
                            </li>
                            <li class="list-item">
                                <a href="/work" class="list-link">Work</a>
                            </li>
                            <li class="list-item">
                                <a href="/careers" class="list-link">Careers</a>
                            </li>
                            <li class="list-item">
                                <a href="/faqs" class="list-link">Faqs</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3 class="heading" role="heading" aria-level="3">Subscribe</h3>
                        <p class="description">
                            Don’t miss to subscribe to our new feeds, kindly fill the form
                            below.
                        </p>
                        <form action="" class="input-group subscribe-form">
                            <input type="text" placeholder="Email Address..." class="field" />
                            <button class="bx bx-send action-btn btn-send"></button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer-bottom">
            <div class="boxed">
                <p class="copyright">
                    &copy; 2024, All Right Reserved
                    <a href="index.html" class="link">NexTash</a>
                </p>
                <ul class="inline-list" type="none">
                    <li class="list-item">
                        <a href="terms-and-conditions.html" class="list-link">Terms</a>
                    </li>
                    <li class="list-item">
                        <a href="privacy-policy.html" class="list-link">Privacy</a>
                    </li>
                    <li class="list-item">
                        <a href="cookies-policy.html" class="list-link">Cookies</a>
                    </li>
                    <li class="list-item">
                        <a href="credits.html" class="list-link">Credits</a>
                    </li>
                </ul>
            </div>
        </section>
    </footer>
    <!-- FOOTER -->
    <!-- SCRIPTS -->
    <script src="/static/js/aos.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/libs/swiper/swiper.min.js"></script>
    <script>
        new Swiper("#blogs", {
            slidesPerView: 1,
            pagination: true,
            navigation: {
                nextEl: ".slide-next",
                prevEl: ".slide-prev",
            },
            breakpoints: {
                340: {
                    slidesPerView: 1,
                },
                576: {
                    slidesPerView: 1,
                },
                768: {
                    slidesPerView: 2,
                },
                992: {
                    slidesPerView: 3,
                },
            },
        });
    </script>
    <!-- SCRIPTS -->
</body>

</html>